
      <!-- Page Features -->
      <div class="row text-center">
        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="{{ asset(product.image) }}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{ product.title }}</h4>
              <p class="card-text">{{ product.description }}</p>
              <div>
                  {% for tag in product.tags %}
                      <a class="badge badge-pill badge-info" href="{{ path('tag',{'slug' : tag.slug}) }}">
                          #{{ tag.name }}</a>
                  {% endfor %}
              </div>
            </div>
            {% if is_granted('ROLE_USER') and product.owner.id == app.user.id %}
            <div class="card-footer">
              <a href="{{ path(('edit_product'), {'id' : product.id}) }}" class="btn btn-success">Modifier</a>
              <a href="{{ path(('delete_product'), {'id' : product.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
            {% elseif is_granted('ROLE_USER') %}
            <div class="card-footer">
              <a href="{{path(('add_loan'), {'id' : product.id})}}" class="btn btn-success">Emprunter</a>
            </div>
            {% endif %}
            
          </div>
        </div>
        {% endfor %}
        
      </div>
      <div class="row mx-auto">
        <div class="col-6">
        {% if products.haveToPaginate %}
            {{ pagerfanta(products,'twitter_bootstrap4', {'routeName' : routeName}) }}
        {% endif %}
        </div>
      </div>
      <!-- /.row -->

