{% extends "layout_front.html.twig" %}

{% block stylesheets %}
    <link href="{{asset('css/selectize.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Ajouter / Modifier un jeu{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 mx-auto my-5">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <a class="btn btn-info" href="{{ path('product') }}">Revenir au produits</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/selectize.js')}}"></script>
    <script>
        {# function AJAX  #}
    $(function () {

    $('#product_tags').selectize({
            delimiter: ',',
            valueField: 'name',
            labelField: 'name',
            searchField: 'slug',
            create: true,
            persist: true,
            render: {
                option: function (item, escape) {
                    return '<div>' +
                    '<span class="name">' + escape(item.name) + '</span>' +
                    '</div>';
                }
        },
        {# mise à jour du champs tags en autocompletion par une recherche #}
        load: function (query, callback) {
            if (!query.length)
                return callback();
            $.ajax({
                url: "{{ path('search_tag') }}",
                type: 'GET',
                dataType: 'json',
                data: {
                    search: query
                },
                error: function () {
                    callback();
                },
                success: function (res) {
                    callback(res);
                }
                });
                }
            });
        });
    </script>
{% endblock %}
